# Ensure python is 2.5
PATH=/bin:/usr/local/bin:/usr/bin:$PATH

# for DQ2
export X509_CERT_DIR=/etc/grid-security/certificates
export X509_USER_PROXY=/data/atlpan/x509up_u25606

# panda home
export PANDA_HOME=/data/atlpan

# timezone
export TZ=UTC

# import panda modules
export PYTHONPATH=@@install_purelib@@/pandacommon:@@install_purelib@@/pandaserver:@@install_purelib@@

